<footer class="page__footer">
  <div class="wrapper">
    <div class="page__footer-follow">
      {% if site.footer.links %}
        <ul class="social-icons">
          {% for link in site.footer.links %}
            <li>
             <a href="https://x.com/O_Khodjaev" rel="nofollow noopener noreferrer">
              <img src="/images/x.svg" alt="X" style="width:16px;height:16px;vertical-align:middle;">
              <span class="label">X</span>
             </a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>

    <div class="page__footer-copyright">
      © {{ site.time | date: "%Y" }} {{ site.title }}
    </div>
  </div>
</footer>
