<footer class="page__footer">
  <div class="wrapper">
    <div class="page__footer-follow">
      <ul class="social-icons">
        <li>
          <a href="https://okhodjaev.substack.com">
            <i class="fas fa-envelope"></i>
            <span class="label">Substack</span>
          </a>
        </li>
        <li>
          <a href="https://x.com/O_Khodjaev">
            <i class="fab fa-twitter"></i>
            <span class="label">X.com</span>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/oybek-khodjaev/">
            <i class="fab fa-linkedin"></i>
            <span class="label">LinkedIn</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="page__footer-copyright">
      © {{ site.time | date: "%Y" }} Oybek Khodjaev
    </div>
  </div>
</footer>
